@import '../base/colours';

.visualization-block {
    background-color: $color-font-primary-darker;
    color: $base-pink;
    overflow: hidden;

    h4 {
        color: $base-pink !important;
    }

    /* Target specific dark mode overrides if needed */
    .recharts-text {
        fill: $color-font-primary-lighter !important;
    }

    &.flowchart-block {
        background-color: $base-purple-darker !important;

        .react-flow,
        .xy-flow {
            background-color: transparent !important;
        }
    }
}