$colour-background: #FFF8EE;

$color-font-primary: #580081;
$color-font-primary-light: #C1ABCC;
$color-font-primary-lighter: #fef0ff;
$color-font-primary-dark: #3C1F4A;
$color-font-primary-darker: #250036;


$color-underline: #FFC4E7;
